<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
  <title>Lil'Links - Examine URL</title>
  <link rel="icon" type="image/png" href="/img/meat.png" />
</head>

<body>
  <%- include('partials/_header.ejs') -%>
  <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <a href="<%= longURL %>"><%= longURL %></a></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
        <form class="form-inline justify-content-center mb-6" action="/<%= shortURL %>/update" method="POST">
          <div class="input-group mb-3 col-md-auto">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">URL</span>
            </div>
            <input type="text" class="form-control" name="newURL" placeholder="Edit URL" value="<%= longURL %>" style="width: 400px">
            <div class="input-group-append">
              <button class="btn btn-outline-success" method="POST" type="submit">Update URL</button>
            </div>
          </div>
          
        </form>
      </div>
    <div class="card-footer text-muted"></div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>